/* --- Tablet --- */
@media only screen and (max-width: 769px) {
  .nav-menu {
    flex-direction: column;
    justify-content: start;
    max-width: 300px;

    background-color: rgba(184, 143, 47, 0.871);

    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;

    padding-top: 25%;
    transition: 0.3s ease-in-out;
  }

  nav ul {
    margin-bottom: 15px;
  }

  /* nav ul li a {
    color: white;
  }

  .cta-container svg path {
    stroke: white;
  } */

  nav .cta-container,
  nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    gap: 15px;
  }

  .menu-con {
    display: block;
  }
}

@media only screen and (max-width: 376px) {
  .browse-img-con {
    flex-direction: column;
  }
}
